[Desktop Entry]
Version=1.0
GenericName=Translator and Text2Speech
GenericName=Glate
Name=Glate
Type=Application
Icon=glate
Keywords=Translator;Google;TTS;Speech
Exec=glate
Categories=Utility;Qt;Player;
Terminal=false
Name[en_US]=Glate
